Flask==2.3.3
pymongo==4.6.1
dnspython==2.6.1
gunicorn==21.2.0
requests==2.31.0
sportly
sportly[sofascore]
pandas==2.0.3
numpy==1.24.3
xgboost==1.7.6
scikit-learn==1.3.0
joblib==1.3.0
sports-skills
